body {
    background-color: black;
    margin: 0;
    overflow: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
}

.burger-container {
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 10px; /* Adjust the top value as needed */
    left: 10px; /* Adjust the left value as needed */
    z-index: 2; /* Set a higher z-index to make sure it's above other elements */
}

/* Add this style to hide the burger when the side menu is open */
.burger-container.open .burger-bar {
    display: none;
}

/* Add this style to show the 'x' close button when the side menu is open */
.burger-container.open .close-btn {
    display: block;
}

.burger-bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    display: block; /* Add this line to override the display property */
}

.close-btn {
    display: none; /* Add this line to hide the close button initially */
    font-size: 30px;
}

.home {
    background-image: url(./resources/media/Apple-MacBook-Pro-2up-231030_Full-Bleed-Image.jpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 10px;
}

.home h1 {
    color: white;
    font-size: 80px;
}

.what {
    background-image: url(./resources/media/Apple-m3-chips.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 10px;
    color: white;
}
